<div>
  <% reply.replies.each do |rep| %>
  <div style="margin-left: 40px;">
    <p class="comment-owner">
      <strong>
        @<%= link_to rep.user.name, rep.user%>
      </strong>

      <span class="comment-created small">
        <%= time_ago_in_words(rep.created_at) %> ago
      </span>
    </p>
    <p><%= rep.body %></p>
    <%= link_to "Reply", controller: "replies", action: "show", id: rep.id%>
    <% if logged_in? %>
      <% if current_user.owns_reply?(reply) %>
        <%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
    <%= render partial: "replies/reply", locals: { reply: rep } %>
  </div>
  <% end %>
</div>