<h2>Add a reply to reply</h2>
<p style="  font-family: Verdana, Geneva, sans-serif; color: #828282; font-size: 8pt;"><%= @reply.user.name%> 
  <%= time_ago_in_words(@reply.created_at) %> ago |  
  <a href="/comments/<%=@reply.comment.id%>">
    parent
  </a> | on
  <a href="/contributions/<%=@reply.comment.contribution.id%>">
    <%= @reply.comment.contribution.title %>
  </a>
</p>
<p>
  <strong>Reply: </strong>
  <%=  @reply.body  %>
</p>
  
<% if logged_in? %>
  <div class="add-comment row">
    <div class="col-sm-6">
      <%= render 'form', reply: @newreply %>
    </div>
  </div>
<% end %>