<h1>Comments made by <%=current_user.name%></h1>
<table border="0" cellpadding="0" cellspacing="0" class="itemlist">

  <% @comments.each_with_index do |comment, index| %>
    <% if comment.user == current_user %>
        <tr class='athing' id='myIdTODO'>
        <td align="right" valign="top" class="title">
            <span class="rank"><%= index %>.</span>
        </td> 
        <td>
          <span><%= link_to comment.user.name, comment.user %></span>
          <span><%= link_to time_ago_in_words(comment.created_at), comment.contribution %> ago</span> | on:
          <span><%= link_to comment.contribution.title, comment.contribution%></span> | 
          <span><%= comment.body %></span>
        </td>
        </tr>
    <%end%>
    
  <%end%>
  
</table>
