<h1>Add a reply</h1>
  <p style="  font-family: Verdana, Geneva, sans-serif; color: #828282; font-size: 8pt;"><%= @comment.user.name%> 
    <%= time_ago_in_words(@comment.created_at) %> ago | on  
    <a href="/contributions/<%=@comment.contribution.id%>">
      <%=@comment.contribution.title %>
    </a> 
  </p>
  <p>
    <strong>Comment: </strong>
    <%=  @comment.body  %>
  </p>
  <% if @comment.replies.present? %>
    <div>
      <h4>Replies</h4>
      <%= @comment.replies.each do |reply| %>
        <p class="comment-owner">
          <strong>
            @<%= link_to reply.user.name, reply.user%>
          </strong>

          <span class="comment-created small">
            <%= time_ago_in_words(reply.created_at) %> ago
          </span>
        </p>
        <p>
          <%= reply.body %>
        </p>
      <% end %>
    </div>
  <% end %>
  
  <% if logged_in? %>
    <div class="add-comment row">
      <div class="col-sm-6">
        <%= form_for :reply, url: contribution_comment_replies_path(@contribution, @comment) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", rows: 10, required: true %>
          </div>
          <div class="form-group">
            <%= f.button "reply", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
