<p id="notice"><%= notice %></p>

<h2>Contributions</h2>

<table border="0" cellpadding="0" cellspacing="0" class="itemlist">

<% @contributions.each_with_index do |contribution, index| %>
  <tr class='athing' id='myIdTODO'>

  <td align="right" valign="top" class="title">
    <span class="rank"><%= index %>.</span>
  </td>

  <td valign="top" class="votelinks">
    <center>
      <div>
      <%= link_to "▲", upvote_contribution_path(contribution), method: :post, class: "votearrow" %>
      </div>
      <div>
      <%= link_to "▼", upvote_contribution_path(contribution), method: :post, class: "votearrow" %>
      </div>
      <%= contribution.upvotes %>
    </center>
  </td>
  <td class="title">
    <% if !contribution.url.blank? %>
      <span>Type url</span> |
      <a href="<%= contribution.url %>" class="storylink"><%= contribution.title %></a>

      <span class="sitebit comhead"> (<a href="<%= contribution.url %>"><span class="sitestr"><%= contribution.url %></span>
        </a>)</span>

    <% end %>
    <% if contribution.url.blank? %>
    <span>Type text</span> |
    <a class="storylink"><%= contribution.title %></a>
      <span>Text: <%= contribution.text %></span>
    <% end %>
    <span>by @<%= link_to contribution.user.name, contribution.user %></span>
    <span><%= time_ago_in_words(contribution.created_at) %> ago</span>
            |
     <%if contribution.numComments == 0%>
        <a href="/contributions/<%=contribution.id%>">Discuss</a>
    <%elsif contribution.numComments == 1%>
        <a href="/contributions/<%=contribution.id%>"><%=contribution.numComments%> comment</a>
    <%else%>
        <a href="/contributions/<%=contribution.id%>"><%=contribution.numComments%> comments</a>
    <%end%>
  </td>
  <td>Id: <%=contribution.id  %></td> 

  <td><%= link_to 'Show', contribution %></td>

  <% if logged_in? && current_user.owns_contribution?(contribution) %>
    <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
    <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>

  </tr>
</table>


<table>
  
</table>

<br>

<%-# <%= link_to 'New Contribution', new_contribution_path-%>
