<p id="notice"><%= notice %></p>

<section>
  <header>
    <h4>
      <strong>Title:</strong>
      <%= @contribution.title %>
    </h4>

    <% if @contribution.text? %>
      <p>
        <strong>Text:</strong>
        <%= @contribution.text %>
      </p>
    <% end %>
    <% if @contribution.url? %>
      <p>
        <strong>Url:</strong>
        <%= @contribution.url %>
      </p>
    <% end %>
    
  </header>
</section>

<% if logged_in? %>
    <div class="add-comment row">
      <div class="col-sm-6">
        <%= form_for :comment, url: contribution_comments_path(@contribution) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "The quick brown fox...", rows: 10, required: true %>
          </div>

          <div class="form-group">
            <%= f.button "add comment", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

<div class="all-comments row">
    <div class="col-sm-12">
      <% if @contribution.comments.present? %>
        <h3>
          Comments
        </h3>
      <% end %>
      
      <% @contribution.comments.each do |comment| %>
        <div class="comment">
          <p class="comment-owner">
            <% if logged_in? && current_user.upvotedcomment?(comment) %>
              <%= link_to "▼", upvotecomment_contribution_path(comment), method: :post, class: "votearrow" %>
            <% else %>
              <%= link_to "▲", upvotecomment_contribution_path(comment), method: :post, class: "votearrow" %>
            <% end %>
            <%= comment.upvotecomments %>
            <strong>
              @<%= link_to comment.user.name, comment.user%>
            </strong>

            <span class="comment-created small">
              <%= time_ago_in_words(comment.created_at) %> ago
            </span>
          </p>

          <p>
            <%= comment.body %>
          </p>
          <%= link_to "Reply", controller: "comments", action: "show", id: comment.id %>
        </div>
        <div>
          <% comment.replies.each do |reply| %>
            <% if reply.parent == nil %>
              <div style="margin-left: 40px;">
                <p class="comment-owner">
                  <% if logged_in? && current_user.upvotedreply?(reply) %>
                    <%= link_to "▼", upvotereply_contribution_path(reply), method: :post, class: "votearrow" %>
                  <% else %>
                    <%= link_to "▲", upvotereply_contribution_path(reply), method: :post, class: "votearrow" %>
                  <% end %>
                  <%= reply.upvotereplies %>
                  <strong>
                    @<%= link_to reply.user.name, reply.user%>
                  </strong>

                  <span class="comment-created small">
                    <%= time_ago_in_words(reply.created_at) %> ago
                  </span>
                </p>
                <p><%= reply.body %></p>
                <%= link_to "Reply", controller: "replies", action: "show", id: reply.id%>
                <% if logged_in?%>
                  <% if current_user.owns_reply?(reply) %>
                  <%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>
                  
                  <% end %>
                <% end %>

                <%= render partial: "replies/reply", locals: { reply: reply } %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
